<div class="row">
    <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
    <div class="col-lg-6">
        <div class="card mt-3 shadow-sm">
            <div class="card-body pb-2">
                <div class="row">
                    <div class="col-5">
                        <span class="action-icon badge badge-warning-inverse m-0">
                            <i class="mdi mdi-medical-bag"></i></span> 
                    </div>
                    <div class="col-7 text-left">
                        <h5 class="card-title font-14 text-muted">Cas_confirmés</h5>
                        <h4 class="mb-0 font-30"> {{ dataCovid[dataCovid.length - 1][0] }}</h4>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">

                    <div class="col-3 text-left">
                        <span class="badge badge-warning pr-2 pl-2"><i
                                class="feather icon-trending-up mr-1"></i>{{ dataCovid[dataCovid.length - 1][1] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mt-3 shadow-sm">
            <div class="card-body pb-2">
                <div class="row">
                    <div class="col-5">
                        <span class="action-icon badge badge-success-inverse m-0"><i
                                class="mdi mdi-clipboard-check-outline"></i></span>
                    </div>
                    <div class="col-7 text-left">
                        <h5 class="card-title font-14 text-muted">Negative_tests</h5>
                        <h4 class="mb-0 font-30">{{ dataCovid[dataCovid.length - 1][2] }}</h4>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="font-13"></span>
                    </div>
                    <div class="col-6 text-left">
                        <span class="badge badge-success pr-2 pl-2"><i
                                class="fas fa-chart-line"></i>{{ dataCovid[dataCovid.length - 1][3] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mt-3 shadow-sm" style="background-color: #e9fdf2">
            <div class="card-body pb-2">
                <div class="row">
                    <div class="col-5">
                        <span class="action-icon badge badge-success-inverse m-0"><i
                                class="fal fa-smile-beam"></i></span>
                    </div>
                    <div class="col-7 text-left">
                        <h5 class="card-title font-14 text-muted">Retablis</h5>
                        <h4 class="mb-0 font-30">{{ dataCovid[dataCovid.length - 1][4] }}</h4>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">

                    <div class="col-6 text-left">
                        <span class="badge badge-success pr-2 pl-2"><i
                                class="feather icon-trending-up mr-1"></i>{{ dataCovid[dataCovid.length - 1][5] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card mt-3 shadow-sm" style="background-color: #fff3f3;">
            <div class="card-body pb-2">
                <div class="row">
                    <div class="col-5">
                        <span class="action-icon badge badge-danger-inverse m-0"><i class="mdi mdi-skull"></i></span>
                    </div>
                    <div class="col-7 text-left">
                        <h5 class="card-title font-14 text-muted">Décédés</h5>
                        <h4 class="mb-0 font-30">{{ dataCovid[dataCovid.length - 1][6] }}</h4>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">

                    <div class="col-8 text-left">
                        <span class="badge badge-danger pr-2 pl-2"><i
                                class="feather icon-trending-up mr-1"></i>{{ dataCovid[dataCovid.length - 1][7] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>