<div class="container">
  <app-simple-chart></app-simple-chart>
  <div class="row">

    <div class="col-lg-6" id="new_cases">
      <div class="card mt-3 shadow-sm">
        <div class="card-header">
          <h5 class="card-title">Graphique cumulatif de l'évolution du virus Corona au Maroc</h5>
        </div>

        <div class="card-body p-0 p-lg-2">
          <app-line-chart></app-line-chart>

        </div>
      </div>
    </div>


    <div class="col-lg-6" id="total_cases">
      <div class="card mt-3 shadow-sm">
        <div class="card-header">
          <h5 class="card-title">Explication de l'évolution du virus Corona au Maroc</h5>
        </div>
        <div class="card-body p-0 p-lg-2">

          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card mt-3 shadow-sm">
        <div class="card-header">
          <h5 class="card-title">Carte de répartition des cas par provinces et régions</h5>
        </div>
        <div class="card-body p-0">

          <app-map-chart></app-map-chart>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card mt-3 shadow-sm">
        <div class="card-header">
          <h5 class="card-title d-inline-block">Tableau de répartition des cas par régions.</h5>

        </div>
        <div class="card-body pt-0 pb-0">
          <table class="table table-sm table-striped">
            <tbody>
              <tr>
                <th>الدار البيضاء سطات</th>
                <td>17476</td>
                <td style="color: #ffa800; direction: ltr">+609</td>
                <td style="color: #ff3f3f; direction: ltr">+9</td>
              </tr>
              <tr>
                <th>مراكش أسفي</th>
                <td>9777</td>
                <td style="color: #ffa800; direction: ltr">+349</td>
                <td style="color: #ff3f3f; direction: ltr">+5</td>
              </tr>
              <tr>
                <th>الرباط سلا القنيطرة</th>
                <td>5435</td>
                <td style="color: #ffa800; direction: ltr">+132</td>
                <td style="color: #ff3f3f; direction: ltr">+1</td>
              </tr>
              <tr>
                <th>فاس مكناس</th>
                <td>8882</td>
                <td style="color: #ffa800; direction: ltr">+122</td>
                <td style="color: #ff3f3f; direction: ltr">+8</td>
              </tr>
              <tr>
                <th>طنجة تطوان الحسيمة</th>
                <td>9663</td>
                <td style="color: #ffa800; direction: ltr">+112</td>
                <td style="color: #ff3f3f; direction: ltr"></td>
              </tr>
              <tr>
                <th>درعة تافيلالت</th>
                <td>2270</td>
                <td style="color: #ffa800; direction: ltr">+95</td>
                <td style="color: #ff3f3f; direction: ltr">+2</td>
              </tr>
              <tr>
                <th>بني ملال خنيفرة</th>
                <td>2624</td>
                <td style="color: #ffa800; direction: ltr">+49</td>
                <td style="color: #ff3f3f; direction: ltr"></td>
              </tr>
              <tr>
                <th>سوس ماسة</th>
                <td>1099</td>
                <td style="color: #ffa800; direction: ltr">+34</td>
                <td style="color: #ff3f3f; direction: ltr">+1</td>
              </tr>
              <tr>
                <th>الشرق</th>
                <td>1147</td>
                <td style="color: #ffa800; direction: ltr">+24</td>
                <td style="color: #ff3f3f; direction: ltr"></td>
              </tr>
              <tr>
                <th>الداخلة وادي الذهب</th>
                <td>396</td>
                <td style="color: #ffa800; direction: ltr">+21</td>
                <td style="color: #ff3f3f; direction: ltr"></td>
              </tr>
              <tr>
                <th>العيون الساقية الحمراء
                </th>
                <td>1021</td>
                <td style="color: #ffa800; direction: ltr">+19</td>
                <td style="color: #ff3f3f; direction: ltr"></td>
              </tr>
              <tr>
                <th>
                  >كلميم واد نون</th>
                <td>264</td>
                <td style="color: #ffa800; direction: ltr">+1</td>
                <td style="color: #ff3f3f; direction: ltr"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <div class="col-lg-6" id="daily_tests">
      <div class="card mt-3 shadow-sm">
        <div class="card-header">
          <h5 class="card-title">Cas selon les provinces et territoires</h5>
        </div>
        <div class="card-body p-0 p-lg-2">
          <app-monthly-chart></app-monthly-chart>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card mt-3 shadow-sm">
        <div class="card-header">
          <h5 class="card-title">Protégez-vous en suivant les conseils du Ministère de la Santé </h5>
        </div>
        <div class="card-body p-0 p-lg-2">

          <img style="height: 347px; width: 100%; margin-left:auto;margin-right:auto;"
            src="assets/img/coronavirus-4.jpg" alt="corona">
        </div>
      </div>
    </div>

  </div>



  <div class="text-center mt-3 pb-4">
    <p class="mb-0">hamza badaouy 2020 ©</p>
  </div>

</div>